<p>movie-detail works! id of {{movieId}}</p>
<img [src]="this.movie.picture" alt="movie pic" *ngIf="this.movie.picture!='none'" />
<input type="range" min="1" max="100" [(ngModel)]="rating" class="slider" id="myRange">
<h4>Rating: {{rating}}</h4>
<button (click)="submitReview()">Submit Review</button>