<p>login works!</p>
<input type="text" placeholder="enter username" [(ngModel)]="username" />
<input type="text" placeholder="enter password" [(ngModel)]="password" />
<button (click)="loginAttempt()">Login</button>
<h3>{{user.firstName}}</h3>
